<div id="table_container">
	<div id="cell">
		<div id="facebook_holder">
			<div id="facebook_login"><a href="/auth/singly?service=facebook"><%= image_tag 'facebook_button.jpg' %></a></div>
		</div>
	</div>
</div>