// Place all the styles related to the Auth controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

html, body { height: 100%;}
#table_container { display: table; height: 100%; width: 100%;}
#cell { display: table-cell; vertical-align: middle; text-align: center; height: 100%;}

#facebook_login img{
			border-radius: 12px;
	-webkit-border-radius: 12px;
	border: 2px solid #F6F6F6;
}