.map_container {
  position: relative;
  background-color: #E5E3DF;
  overflow: hidden;
  -webkit-transform: translateZ(0);
  height: 100%;
  width: 100%;
}

.gmaps4rails_map {
  width: 100%;
  height: 100%;
}

html, body {
  height: 100%;
}